<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjTd7eht6sdovoN7F7azuQErkUtpyy-UQ</string>
	<key>GCM_SENDER_ID</key>
	<string>177484089868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peopleCounter</string>
	<key>PROJECT_ID</key>
	<string>counting-people-56779</string>
	<key>STORAGE_BUCKET</key>
	<string>counting-people-56779.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177484089868:ios:1c8802adc05454b068fc29</string>
	<key>DATABASE_URL</key>
	<string>https://counting-people-56779-default-rtdb.firebaseio.com</string>
</dict>
</plist>